<ion-view title="Congratulations">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>The End</h1>
        <div>
            <p>Congratulations on completing the challenges. See you at the wedding!</p>
        </div>
        <div style="text-align:center;">
            <img src="img/mw691dPDQ3CdpDC6BGqF_wedding.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/mw691dPDQ3CdpDC6BGqF_wedding.jpg" width="100%" height="auto">
        </div>
        <a ui-sref="tabsController.home" class="button button-positive button-block ">That Was Awesome</a>
    </ion-content>
</ion-view>