<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <h1>Storybook</h1>
        <h5>Add tagline here</h5>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.storybook" class="button button-positive button-block button-large">I'm a wedding guest</a>
        <button class="button button-balanced button-block button-large">I'm the bride / groom</button>
    </ion-content>
</ion-view>