<ion-view title="Photo Feed">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/PQl8UNXIRtm3k7khIS1C_selfie_1.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/LHew4qD5RhSCfv34FdKz_selfie_2.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/7Q5Q6s7TnmWuS8RHNEGg_selfie_3.jpg" width="100%" height="auto">
        </div>
    </ion-content>
</ion-view>