<ion-view title="Storybook">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/cEGlHSl0TOIFy4qOMUAb_background2.jpg) no-repeat center;" class="has-header">
        <h1>Chapter 3: First Kiss</h1>
        <form class="list"></form>
        <div>
            <p>“Our first kiss was at Hyde Park, it was out of this world. It took us until the second date to get the nerve to go for it because we both had such a great connection that it just felt right.”</p>
        </div>
        <div>
            <p>Go to the Shakespeare Garden inside of the massive park in San Francisco named after the
                <strong>Golden Gate</strong>Bridge. Take a group photo pretending to kiss one of the statues.</p>
        </div>
        <div class="button-bar">
            <button class="button button-assertive button-block  icon-left ion-ios-help">I'm Lost</button>
            <a ui-sref="tabsController.takePhoto3" class="button button-balanced button-block  icon-left ion-ios-camera">I'm Here</a>
        </div>
    </ion-content>
</ion-view>