<ion-view title="Storybook">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/cEGlHSl0TOIFy4qOMUAb_background2.jpg) no-repeat center;" class="has-header">
        <h1>Chapter 4: Proposal</h1>
        <form class="list"></form>
        <div>
            <p>Harry: “I decided to propose after dating for two years when she bought me the limited edition Star Wars DVD set for my birthday.</p>

            <p>Sally: “He proposed to me at a light house. I felt like the luckiest mermaid in the world.”</p>
        </div>
        <div>
            <p>Find the
                <strong>house</strong>on a
                <strong>cliff</strong>at the northernmost point of Ocean Beach. Take a romantic photo with all of the gentlemen on one knee.</p>
        </div>
        <div class="button-bar">
            <button class="button button-assertive button-block  icon-left ion-ios-help">I'm Lost</button>
            <a ui-sref="tabsController.takePhoto4" class="button button-balanced button-block  icon-left ion-ios-camera">I'm Here</a>
        </div>
    </ion-content>
</ion-view>