<ion-view title="Storybook">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/cEGlHSl0TOIFy4qOMUAb_background2.jpg) no-repeat center;" class="has-header">
        <h1>Chapter 1: First Date</h1>
        <form class="list"></form>
        <div>
            <p>"Our first date at Gino’s Italian Restaurant was magical. We felt we clicked when we ordered the same pasta dish."</p>
        </div>
        <div>
            <p>Find the Italian restaurant on Clement Street founded by a man named
                <strong>Ernesto</strong>. Arrange yourselves in order of how much you like Italian food and take a group selfie.</p>
        </div>
        <div class="button-bar">
            <button class="button button-assertive button-block  icon-left ion-ios-help">I'm Lost</button>
            <a ui-sref="tabsController.takePhoto" class="button button-balanced button-block  icon-left ion-ios-camera">I'm Here</a>
        </div>
    </ion-content>
</ion-view>