<ion-view title="Storybook">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/cEGlHSl0TOIFy4qOMUAb_background2.jpg) no-repeat center;" class="has-header">
        <h1>Chapter 2: Serendipitous Encounter</h1>
        <form class="list"></form>
        <div>
            <p>"Our goofiest date happened happened when we were at Santa Cruz Beach Boardwalk. Harry tripped and dropped his ice cream on a seagull’s head, it was hilarious!"</p>
        </div>
        <div>
            <p>Find the beach near Golden Gate Park at the west side of San Francisco. Form the word “L-O-V-E” with your bodies on the sand and take a photo.</p>
        </div>
        <div class="button-bar">
            <button class="button button-assertive button-block  icon-left ion-ios-help">I'm Lost</button>
            <a ui-sref="tabsController.takePhoto2" class="button button-balanced button-block  icon-left ion-ios-camera">I'm Here</a>
        </div>
    </ion-content>
</ion-view>