<ion-view title="Submit Photo">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Chapter 2: Goofiest Date</h1>
        <div style="text-align:center;">
            <img src="img/stsOWEa2RZOueJTELh1Q_oscar_selfie.jpg" width="100%" height="auto">
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <div class="button-bar">
            <a ui-sref="tabsController.storybook3" class="button button-royal button-block ">SUBMIT</a>
        </div>
    </ion-content>
</ion-view>